:root{
  --black: rgb(20 20 20/ 1);
  --vanished-white: rgb(255 255 255/0.7);
  --vanished-black: rgb(0 0 0 /0.6);


  --main-font: arial, helvetica, sans-serif;
}

html{
  scroll-behavior: smooth;
}

body{
  font-family: var(--main-font);
  display:grid;
  width:100%;
  overflow: unset;
  scroll-behavior: unset;
}

a{
  text-decoration: none!important;
  color:unset;
}

.hidden {
  display:none;
}

/* 
::-webkit-scrollbar{
} */


.test{
  border:black 1px solid;
  margin:auto;
    height:100px;
    overflow-y: scroll;
}

.scale{
  transform:scale(1.1);
}

@media only screen and (max-width:600px) {
  .scale{
    transform:scale(1.07);
  }
}

.transition-500 {
  transition:500ms;
}

.App{
  width: min(1400px , 100%);
  margin: auto;
}

.element-margin{
  margin-top :60px;
}

/* .models-page{
  display:grid;
} */


input{
  outline: none!important;
}
input:focus{
  outline: none!important;
}

textarea{
  outline: none!important;
}
textarea:focus{
  outline: none!important;
}
